.logo {
  text-align: center;
}

.container {
  display: flex;
  justify-content: flex-end;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 25em;

  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  width: 100%;

  text-align: left;

  & span {
    font-size: 10px;
  }

  & button {
    font-weight: 500;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      cursor: default;
    }
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 85px;
  width: 85px;

  border-radius: 50%;
}

.formField {
  display: flex;
  flex-direction: column;
}
