@import "../../design-tokens/_scss-variables.scss";

.logo {
  margin: $spacer-xl;
  text-align: center;
}

.container {
  display: flex;
  justify-content: flex-end;
}

.card {
  display: flex;
  align-items: center;
  gap: $spacer-xl;
  flex-direction: column;
  margin-right: $spacer-xxl;

  width: 25em;
  background: $color-base-transparent;
  padding: $spacer-l;

  border-radius: $spacer-s;

  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: $spacer-m;

  margin: auto;
  text-align: left;

  & span {
    font-size: 10px;
    color: $color-warning;
  }

  & button {
    color: $color-base;
    font-weight: 500;
    background: $color-secondary;
    padding: $spacer-s;
    border-radius: $spacer-xs;

    &:hover {
      background-color: $color-secondary-hover;
      cursor: pointer;
    }

    &:disabled {
      background: $color-content;
      cursor: default;
    }
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $color-base;
  height: 85px;
  width: 85px;

  border-radius: 50%;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: $spacer-xs;
}