@import "../../design-tokens/scss-variables";

.tabsRoot {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabsTrigger {
  padding: $spacer-s;
  flex: 1;

  &:hover {
    h3 {
      color: $color-primary;
      transition: 0.2s;
    }
  }
  &:first-child {
    border-top-left-radius: 6px;
  }
  &:last-child {
    border-top-right-radius: 6px;
  }
}

.tabsTrigger[data-state="active"] {
  color: $color-primary;
  box-shadow: inset 0 -1px 0 0 currentColor, 0 1px 0 0 currentColor;
}

.tabsList {
  border-bottom: 1px solid $color-content-transparent;
  display: flex;
  justify-content: space-around;
}

.tabsContent {
  flex: 1;
  padding: $spacer-m;
  background: $color-base-lighter;
  border-radius: 0 0 5px 5px;

  overflow-y: auto;
  max-height: 726px;
}

.tabTitle {
  text-align: center;
  margin: $spacer-m 0 $spacer-s;
}

.accordionRoot {
  border-radius: 6px;
  width: 100%;
  border: 1px solid $color-content;
}

.equipment {
  .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacer-s;

    div {
      flex: 1;
      width: 5rem;
      background-color: $color-base;

      display: flex;
      flex-direction: column;
      align-items: center;

      border: 3px solid $color-base;
      border-radius: 8px;
    }

    p {
      width: 100%;
      text-align: center;
      background: $color-base-lighter;
      border-radius: 0 0 6px 6px;
    }

    img {
      padding: 0.5rem;
      height: 4rem;
    }
  }

  h3 {
    margin-top: 2rem;
  }

  .flexTables {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  table {
    width: 100%;

    th {
      padding: 2px 6px;
    }
    tr,
    td {
      text-align: left;
      padding: 2px 6px;
      &:hover {
        background-color: $color-base;
      }

      svg {
        fill: $color-content;
        width: 1.3rem;

        &:hover {
          cursor: pointer;
          fill: $color-warning;
        }
      }
    }
  }

  .addButton {
    display: flex;
    justify-content: right;
    margin-top: 2rem;

    button {
      padding: $spacer-s;
      background: $color-primary;
      border-radius: 4px;

      font-weight: bold;
      font-size: 16px;

      &:hover {
        cursor: pointer;
        background: $color-primary-hover;
      }
    }
  }
}

.spells {
  display: flex;
  padding: 10px;
  gap: 10px;
}

.spellsAttributes {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: 10px;
  background-color: $color-base;
  padding: 10px;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.abilityName {
  background-color: $color-base-lighter;
  display: flex;
  padding: 5px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.spellSlotsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border-radius: 10px;
  background-color: $color-base;
  height: 100%;
}

.spellSlots {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
}

.spellSlotsHeader {
  display: flex;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: $color-base-lighter;
  padding: 10px;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.spellSlotsHeader div {
  font-weight: bold;
}

.spellSlots ul {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
