@import "./design-tokens/_scss-variables.scss";

* {
  margin: 0;
  padding: 0;
  background-color: transparent;
  box-sizing: border-box;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: $color-content;
  line-height: 1.5;

  border: none;
}

body {
  @extend .defaultBackground;
  margin: 0;
  padding: 0 5rem 0;
  min-height: 100vh;
}

.loginBackground {
  background: url("./assets/imgs/background-home.jpg");
  background-size: cover;
  background-color: linear-gradient(#6a698e, #9c463a);
  background-position: left;

}

.defaultBackground {
  background: url("./assets/imgs/background-new-char.jpg");
  background-size: cover;
  background-color: linear-gradient(#6a698e, #9c463a);
  background-position: center;

}

a {
  text-decoration: none;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transition: 0.2s;
  }
}

input:hover,
textarea:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
}

input:focus,
input:focus-visible,
textarea:focus-visible,
textarea:focus {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
  outline: none;
}

input::selection,
textarea::selection {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);

}

input, select {
  width: 100%;
  padding: $spacer-s;
  border-radius: $spacer-xs;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
}

textarea {
  resize: none;
  padding: 10px;
}

