@use "../../design-tokens/_scss-variables.scss";

.container {
  padding: scss-variables.$spacer-xl scss-variables.$spacer-xxl;

  width: 100%;
  min-height: 50vh;
  border-radius: scss-variables.$spacer-m;
}

.title {
  color: scss-variables.$color-content;
  margin: 0 auto scss-variables.$spacer-m;

  text-align: center;
  font-weight: bold;
}

.img {
  display: block;
  border-radius: 50%;
  background: scss-variables.$color-content;
  width: 50px;
  height: 50px;
}

.newCharacter {
  @extend .card;
  justify-content: space-between;
  border: none !important;
  width: 20rem !important;

  background: scss-variables.$color-secondary !important;
  margin-bottom: 4rem;
  h2,
  h3 {
    color: scss-variables.$color-base;
    font-weight: bold;
  }

  &:hover {
    background: scss-variables.$color-secondary-hover !important;
    cursor: pointer;
  }
  &:disabled {
    background: scss-variables.$color-content !important;
    cursor: default;
  }

  cursor: pointer;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  gap: scss-variables.$spacer-s;
}

.card {
  display: flex;
  align-items: center;
  gap: scss-variables.$spacer-m;

  padding: scss-variables.$spacer-m;
  border: 1px scss-variables.$color-base solid;
  border-radius: scss-variables.$spacer-s;
  background: scss-variables.$color-base-transparent;

  text-align: left;
  line-height: 10px;

  span {
    display: block;
    font-size: 14px;
    line-height: 14px;
  }
}

.charName {
  max-width: 9rem;
  width: 9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.playButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: scss-variables.$color-primary;
  width: 60px;
  height: 60px;

  svg {
    fill: scss-variables.$color-content;
    width: 30px;
  }
  &:hover {
    background: scss-variables.$color-primary-hover;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin-top: 3rem;

  p {
    font-weight: bold; 
  }

  img {
    &:hover {
      cursor: pointer;
    }
  }
}
