@use "../../design-tokens/scss-variables";

.headerStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: scss-variables.$spacer-m scss-variables.$spacer-xl;
  margin-bottom: 16px;
  background: scss-variables.$color-base;
  border-radius: 0 0 scss-variables.$spacer-m scss-variables.$spacer-m;

  div {
    display: flex;
    gap: scss-variables.$spacer-m;
  }

  button {
    border-radius: 4px;
    padding: scss-variables.$spacer-xs scss-variables.$spacer-s;
    line-height: 1;
    font-weight: 500;
    height: fit-content;
    align-items: center;
    background-color: scss-variables.$color-primary;

    &:hover {
      background-color: scss-variables.$color-primary-hover;
    }
  }

  a {
    font-weight: 600;
  }
}

.accountButton {
  display: flex;
  align-items: center;

  svg {
    width: 1.8rem;
    fill: scss-variables.$color-primary;
  }

  &:hover {
    color: scss-variables.$color-primary-hover;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: scss-variables.$color-primary;
  height: 30px;
  width: 30px;

  border-radius: 50%;
}
