.headerStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 16px;

  div {
    display: flex;
  }

  button {
    border-radius: 4px;
    line-height: 1;
    font-weight: 500;
    height: fit-content;
    align-items: center;

    &:hover {
    }
  }

  a {
    font-weight: 600;
  }
}

.accountButton {
  display: flex;
  align-items: center;

  svg {
    width: 1.8rem;
  }

  &:hover {
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 30px;
  width: 30px;

  border-radius: 50%;
}
