@use "../../design-tokens/_scss-variables.scss";

.radixTooltipContent {
  background-color: scss-variables.$color-content;
  padding: scss-variables.$spacer-s scss-variables.$spacer-l;
  border-radius: scss-variables.$spacer-xs;
  
  color: scss-variables.$color-base;
  font-weight: 500;
  font-size: 14px;
}

.radixTooltipArrow {
  fill: scss-variables.$color-content;
}
